.center {
    width: 900px;
    height: 300px;
    align-items: center;
    margin: auto;
    margin-top: 20px;
  }
  .top {
    display: flex;
    gap: 10px;
  }
  .img1 {
    margin-top: 20px;
  }
  .img2 {
    width: 50px;
    height: 50px;
  }
  .img3 {
    width: 50px;
    height: 50px;
  }
  /* put this at the end of the div on the left side */
  /* .end-side {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  } */
  .minors {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    margin-right: auto;
  }
  
  .end-side {
    display: flex;
    gap: 10px;
  }
  
  .end-side .img2,
  .end-side .img3 {
    width: 20px;
    height: 20px;
    order: -2;
  }
  .end-side .img2 {
    gap: 40px;
  }